[submodule "circomlib"]
	path = circomlib
	url = https://github.com/iden3/circomlib.git

[submodule "circom-ecdsa"]
	path = circom-ecdsa
	url = https://github.com/agnxsh/circom-ecdsa.git
	branch = 0xagnish/circom_tester-fix
